body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    overflow-x: hidden;
    color: #fff;
}

.navbar {
    background-color: #424242;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #757575;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar a:hover {
    background-color: #757575;
}

.header {
    background-color: #006775;
    color: #fff;
    padding: 80px;
    text-align: center;
    margin-top: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

.item {
    position: relative;
    width: calc(30% - 40px);
    margin: 20px;
    padding: 15px;
    background-color: #333;
    border: 2px solid #757575;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(70, 130, 180, 0.2);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(70, 130, 180, 0.4);
}

.item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: moveShadow 2s linear infinite;
    opacity: 0.5;
}

@keyframes moveShadow {
    0% {
        box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
    }
    25% {
        box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.5);
    }
    75% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(255, 0, 255, 0.5);
    }
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    color: #757575;
}
